* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F3E9;
}

header {
    background-color: #0E1F29;
    padding: 5px;
    display: flex;
    align-items: center; 
    height: 65px;
    justify-content: space-between;
}

.sidebar {    
    height: 75%; 
    width: 60px; 
    position: fixed; /* Fijar la barra al lado derecho de la pág */
    background-color: #D0E6E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 40px 0; 
    padding-top: 40px;  
    border-radius: 0 15px 15px 0; 
    top: 15%; 
}

.image-container {
    display: flex; 
    align-items: center; 
    width: 100%;
}

.loginBt {
    width: 40px;
    height: 40px;
    filter: invert(1) brightness(2); 
    margin-left: 40%;
}

.sidebar .icon {
    width: 40px;
    height: 40px;
}

.logo{
    height: 50px;
    margin-right: 1%;
}

#letrasFoot{
    color: white;
}

#text1 {
    margin: 80px; 
    padding: 0 140px;
}

#text2{
    color: #8F5BBD;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000; 
    padding-bottom: 5px; 
    display:flex;
}

#text3{
    text-align: justify;
}

.contNosotros{
    margin-bottom: 50px; 
}

footer {
    background-color: #0E1F29;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/*CSS de Contactanos: */
#cont_title{
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#contactanos{
    display: flex;
}

#cont_informacion{
    align-items: center;
    padding-left: 10%;
    margin-right: 10%;
}

.cont_contenido{
    text-align: center;
    font-size: 35px;
    line-height: 1.25;
}

#caja_formulario{
    margin-top: 1.25%;
    margin-right: 10%;
    font-size: 25px;
    background-color: #BEDFCF;
    
    padding-right: 1%;
    
    padding-bottom: 15px;
    margin-bottom: 50px;

    height: 0%;
}

#formulario{
    padding-left: 25px;
    padding-right: 25px;
}

.text_input{
    margin-top: 40px;
    display: flex;
}

.caja_input{
    border-bottom: 2.3px solid rgb(0, 0, 0);
    width: 550px;
    
}

.input{
    font-size: 25px;
    background-color: transparent;
    border-color: transparent;
    width: 550px;
    outline: none;    
}
.input:focus{
    background-color: #8ed1b1;
    transition: background-color 0.1s;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button{
    -webkit-appearance: none;
     
}

#enviar_caja{
    text-align: center;    
}

#enviar{
    font-size: 35px;
    text-transform: uppercase;
    transform: translate(0px, 80%);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
    background-color:#ffffff;    
    border-radius: 13px;
    border-color: transparent;
    cursor: pointer;
}
#enviar:hover{
    background-color: #ececec;
    transition: background-color 0.1s;
}

/*Fin del CSS de Contactanos*/
/*Inicio del CSS de Evento*/

.main-container {
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.recommendations {
    padding: 20px;
}

.recommendations h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #555;
}
.EventosTabla {
    width: 100%;
    border-collapse: collapse;
}
.EventosTabla, th, td {
    border: 1px solid #ddd;
}
.EventosTabla th, .EventosTabla td {
    padding: 12px;
     text-align: left;
}
.EventosTabla th {
    background-color: #f2f2f2;
}

.EventosTabla tr:nth-child(even) {
    background-color: #f9f9f9;
}

.EventosTabla tr:hover {
    background-color: #f1f1f1;
}

.EventosTabla td {
    font-size: 16px;
}
.ImagenPortada{
    height: 400px;
    width: auto;
    overflow-x: scroll;
}

.Imagen{
    width: 100%;
}

  /*Css de login*/
.atrasimagen{
    margin-top: 10px;
    margin-left: 10px;
}

.ub1
{
text-align:left;
font-weight: bold;
color:white;
margin-bottom:0.5em;
margin-top:0.5em;
}
.caja1
{
	background-color: rgba(240, 230, 189, 0.575);
	width:20em;
    height: auto;
    position: relative;
    margin: -20em 0em 0em 15em;
    padding: 2em;
	border-radius: 1em;
	color:black;
	font-weight: bold


}
input, select
{
	width: 100%;
    padding: 0.5em;
	font-size:1em;
	border-radius:5px;
	border:1px solid black;
	color:black;
	text-align:left;
	border: none;
	
}

input::placeholder 
{
  color: #1E265D;
  font-weight: bold;
   opacity: 0.5; 
}

input[type=submit],input[type=reset]
{
margin-top: 1.5em;
width:48%;
text-align:center;
background-color: #4BF3AE;
color:black;
font-weight: bold; 
border: none; 
border-radius: 5px; 

}
input[type=checkbox]
{
margin-left:0;
width:10%;


}

.imagen {
    transform: translate(500px, 90px);  /* Mueve la imagen 20 píxeles a la derecha y 10 píxeles hacia abajo */
}

.formtlo
{
	font-size:2em;
	font-weight: bold;
	padding-bottom:0.8em;
	color:rgb(5, 2, 2);
}



/*CSS de slider*/
.slide{
    margin: 10px;
}

.slider {
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    scroll-behavior: smooth;
  }
  
  .slide {
    min-width: 200px;
    flex-shrink: 0;
    scroll-snap-align: start;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
  }