body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F3E9;
}

header {
    background-color: #0E1F29;
    padding: 5px;
    display: flex;
    align-items: center; 
    height: 60px;
}

.logo{
    height: 50px;
    margin-right: 1%;
}

#letrasFoot{
    color: white;
}

#text1 {
    margin: 60px; 
    padding: 0 140px;
}

#text2{
    text-align: center;
    color: #8F5BBD;
    font-size: 20px;
    font-weight: bold;
}

section > div > div {
    margin-bottom: 50px; 
}

section p {
    margin-bottom: 10px; 
}

footer {
    background-color: #0E1F29;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}