* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F3E9;
}

header {
    background-color: #0E1F29;
    padding: 5px;
    display: flex;
    align-items: center; 
    height: 65px;
    justify-content: space-between;
}

.sidebar {    
    height: 75%; 
    width: 60px; 
    position: fixed; /* Fijar la barra al lado derecho de la pág */
    background-color: #D0E6E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 40px 0; 
    padding-top: 40px;  
    border-radius: 0 15px 15px 0; 
    top: 15%; 
}

.image-container {
    display: flex; 
    align-items: center; 
    width: 100%;
}

.loginBt {
    width: 40px;
    height: 40px;
    filter: invert(1) brightness(2); 
    margin-left: 40%;
}

.sidebar .icon {
    width: 40px;
    height: 40px;
}

.logo{
    height: 50px;
    margin-right: 1%;
}

#letrasFoot{
    color: white;
}

#text1 {
    margin: 80px; 
    padding: 0 140px;
}

#text2{
    color: #8F5BBD;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000; 
    padding-bottom: 5px; 
    display:flex;
}

#text3{
    text-align: justify;
}

.contNosotros{
    margin-bottom: 50px; 
}

footer {
    background-color: #0E1F29;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/*CSS de Contactanos: */
#cont_title{
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#contactanos{
    display: flex;
}

#cont_informacion{
    align-items: center;
    padding-left: 10%;
    margin-right: 10%;
}

.cont_contenido{
    text-align: center;
    font-size: 35px;
    line-height: 1.25;
}

#caja_formulario{
    margin-top: 1.25%;
    margin-right: 10%;
    font-size: 25px;
    background-color: #BEDFCF;
    
    padding-right: 1%;
    
    padding-bottom: 15px;
    margin-bottom: 50px;

    height: 0%;
}

#formulario{
    padding-left: 25px;
    padding-right: 25px;
}

.text_input{
    margin-top: 40px;
}

.caja_input{
    border-bottom: 2.3px solid rgb(0, 0, 0);
    width: 550px;
    
}

.input{
    font-size: 25px;
    background-color: transparent;
    border-color: transparent;
    width: 550px;
    outline: none;    
}
.input:focus{
    background-color: #8ed1b1;
    transition: background-color 0.1s;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button{
    -webkit-appearance: none;
     
}

#enviar_caja{
    text-align: center;    
}

#enviar{
    font-size: 35px;
    text-transform: uppercase;
    transform: translate(0px, 80%);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
    background-color:#ffffff;    
    border-radius: 13px;
    border-color: transparent;
    cursor: pointer;
}
#enviar:hover{
    background-color: #ececec;
    transition: background-color 0.1s;
}

/*Fin del CSS de Contactanos*/