
@font-face {
    font-family: 'Japab';
    src: url('../assets/japab.ttf') format('truetype'),
         url('../assets/japab.woff') format('woff');
}

body{
    background-color: #F7EDD4;
}

#LoadBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}